body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 40px;  /* Increased padding for a larger container */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 400px;   /* Set a specific width */
}

h1 {
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;  /* Increased font size for better visibility */
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 20px 40px; /* Increased padding for a larger button */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px; /* Increased font size */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}
